@tailwind base;
@tailwind components;
@tailwind utilities;

.customx{
  animation-name: sidebar;
  animation-duration: 0.2s;
}

@keyframes sidebar{
 from { height: 0rem; width: 0;}
  to { height: 18rem; width: 10rem;}

}
.customy{
  animation-name: sidebar2;
  animation-duration: 0.2s;
}

@keyframes sidebar2{
  from  { height: 18rem; width: 10rem;}
 to  {height: 0rem; width: 0rem;}

}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.hitesh::before{
 content: "";
 position: absolute;
 bottom: -10%;
 width: 100%;
 height: 2px;
 background-color: white;
 transform: scaleX(0);
 transition: transform ease 0.3s;
}

.hitesh:hover::before{
  transform: scaleX(1);
  color: red;
}

.transformCustom{
  transform: translateX(100px);
}